:root {
  --yellow: #f7d40b;
  --blue: #75ACD5;
  --orange: #f9b43d;
  --red: #f98da6;
}


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.auth {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./sun.jpg');
  background-size: cover;
  height: 100vh;
}

.auth-form {
  background-color: var(--yellow);
  border: black .065rem solid;
  width: 16rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
}

.auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.auth input {
  color: var(--blue);
  margin-bottom: .6rem;
  border: none;
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.auth input::placeholder {
  color: var(--blue);
}

.auth-buttons button {
  margin: 0rem .5rem;
  background-color: var(--blue);
  border: none;
  text-transform: lowercase;
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .05rem;
}

.auth p { 
  font-family: 'Shrikhand', cursive;
  font-size: 3rem;
  color:var(--yellow);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2rem;
  -webkit-text-stroke: 1px black;
  margin-top: 8rem;
}

.top{
  background-color: var(--blue);
  width: 100%;
}

.top a:link {
  color: var(--title);
  margin: .5rem .8rem;
  text-decoration: none;
  cursor: pointer;
}

.top a:visited { 
  color: var(--title);
  text-decoration: none;
}
.title p{
  font-family: 'Shrikhand', cursive;
  font-size: 4rem;
  color:var(--yellow);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2rem;
  -webkit-text-stroke: 1px black;
}

.top button {
  background-color: var(--red);
  border: none;
  cursor: pointer;
  letter-spacing: .1rem;
}

.nav-link {
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .1rem;
  background-color: var(--red);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search {
  background-color: var(--orange);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: .5rem;
}

.search input {
  border: none;
  padding: .12rem;
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 600;
  font-style: italic;
}


.search button{
  background-color: var(--orange);
  border: 1px solid white;
  text-transform: lowercase;
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .05rem;
}

.results {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow: scroll;
  height: 100vh;
}

.locations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 186px);;
  grid-template-rows: 10rem 10rem 10rem; 
  column-gap: 0;
  row-gap: 0; */
}

.location {
  cursor: pointer;
  position: relative;
  background-color: white;
  border: black 1px solid;
  color: black;
  text-align: center;
  padding: 1rem;
  height: fit-content;
  width: 20rem;
  margin: 1rem;
  background-image: url('./sun.jpg');
  background-size: cover;
}

.location::before {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: ;
}

