:root {
  --yellow: #f7d40b;
  --blue: #75ACD5;
}


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.top{
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top a:link {
  color: var(--title);
  margin: .5rem .8rem;
  text-decoration: none;
  cursor: pointer;
}

.top a:visited { 
  color: var(--title);
  text-decoration: none;
}
.title h2{
  font-size: 4rem;
  color:var(--yellow);
  text-transform: uppercase;
}

.top button {
  background-color: var(--blue);
  border: none;
  cursor: pointer;
}

.nav-link {
  border: solid 1px blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search form{
  border: 1px solid salmon;
  background-color: pink;
}

.locations {
  border: solid 1px rebeccapurple;
}

.location {
  border: solid 1px green;
}
