:root {
  --yellow: #f7d40b;
  --blue: #75ACD5;
  --orange: #f9b43d;
  --red: #f98da6;
}


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.top{
  background-color: var(--blue);
  width: 100%;
}

.top a:link {
  color: var(--title);
  margin: .5rem .8rem;
  text-decoration: none;
  cursor: pointer;
}

.top a:visited { 
  color: var(--title);
  text-decoration: none;
}
.title p{
  font-family: 'Shrikhand', cursive;
  font-size: 4rem;
  color:var(--yellow);
  text-transform: uppercase;
}

.top button {
  background-color: var(--red);
  border: none;
  cursor: pointer;
}

.nav-link {
  background-color: var(--red);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search {
  background-color: var(--orange);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: .5rem;
}

.search button{
  background-color: var(--blue);
  border: none;
  padding: .15rem;
  text-transform: lowercase;
}

.results {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow: scroll;
  height: 100vh;
}

.locations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 186px);;
  grid-template-rows: 10rem 10rem 10rem; 
  column-gap: 0;
  row-gap: 0; */
}

.location {
  background-color: white;
  color: var(--red);
  text-align: center;
  padding: 1rem;
  height: 8rem;
  width: 20rem;
  margin: 1rem;
}

